*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-style{
    background-color: #ADD8E7;
}

.header-button-1{
    background-color: #DFA51C;
    width: 240px;
    height: 46px;
    padding: 10px 10px;
    margin: 20px 0px;
}

.header-button-2{
    background-color: #DFA51C;
    width: 720px;
    padding: 10px 10px;
    height: 46px;
}

.border{
    border: 2px dashed black;
}

.text-align-sx{
    text-align: left;
}

.text-align-dx{
    text-align: right;
}

.text-align-center{
    text-align: center;
}

span{
    font-size: 20px;
}

.first-style{
    background-color: #00008B;
}

.fucsia-square{
    width: 910px;
    height: 400px;
    background-color: #EE82ED;
    margin: 50px 0px;
}

.blue-square{
    width: 720px;
    height: 500px;
    background-color: #1E90FF;
    padding: 55px 0px;
}

.pink-square{
    width: 480px;
    height: 500px;
    background-color: #FFBDC6;
    margin: 55px 0px;
}