*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    background-color: #ADD8E7;
    height: 100px;
    justify-content: center;
    align-items: center;

.header-button-1{
    background-color: #DFA51C;
    width: 240px;
    height: 40px;
    padding: 10px 10px;
}

.header-button-2{
    background-color: #DFA51C;
    width: 720px;
    padding: 10px 10px;
    height: 40px;
}

.border{
    border: 1px dashed black;
}

.text-align-sx{
    text-align: left;
}

.text-align-dx{
    text-align: right;
}

.text-align-center{
    text-align: center;
}
